.bg-gradient{
 background: rgb(8,37,139) !important;
background: linear-gradient(0deg, rgba(8,37,139,1) 41%, rgba(6,81,168,1) 63%, rgba(0,212,255,1) 92%) !important; 
}

.h-100{
	height:100vh !important;
}

@media (max-height: 768px) {

.h-100{
	height:100%;
}
}

.project-enter,
.task-enter {
  opacity: 0;
}
.project-enter-active,
.task-enter-active {
  opacity: 1;
  transition: all 250ms ease;
}
.project-exit,
.task-exit {
  opacity: 1;
}
.project-exit-active,
.task-exit-active {
  opacity: 0;
  transition: all 250ms ease;
}